tmp/
target/
.build
Dockerfile
build_cache

# Intellij IDEA
.idea
*.iml

# Visual Studio Code
.vscode
.build
.settings
.project
.classpath
.factorypath
licenses.xml

# Maven code
target
init_scripts/target

# Custom WAR Packager
tmp
